<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:aop="http://www.springframework.org/schema/aop" 
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:mvc="http://www.springframework.org/schema/mvc" 
	   xmlns="http://www.springframework.org/schema/beans"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop 
        http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
    	http://www.springframework.org/schema/context 
    	http://www.springframework.org/schema/context/spring-context.xsd
    	http://www.springframework.org/schema/mvc 
    	http://www.springframework.org/schema/mvc/spring-mvc.xsd">

	<aop:aspectj-autoproxy />

	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/tree/*" />
			<mvc:exclude-mapping path="/tree/login"/>
			<!-- 菜单、跳转链接等拦截器 -->
			<bean class="com.zhuzb.interceptor.WebContextInterceptor" />
		</mvc:interceptor>
	</mvc:interceptors>
	
	<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
		<property name="messageConverters"> 
			<list> 
   				<bean class="org.springframework.http.converter.ByteArrayHttpMessageConverter" />
    				<bean class="org.springframework.http.converter.StringHttpMessageConverter"> 
	    				<property name="supportedMediaTypes"> 
		     				<list>
		      					<value>application/json;charset=UTF-8</value>
		     				</list> 
	    				</property>
   				</bean>
   				<bean class="org.springframework.http.converter.ResourceHttpMessageConverter" /> 
   				<bean class="org.springframework.http.converter.xml.SourceHttpMessageConverter" />
   				<bean class="org.springframework.http.converter.xml.XmlAwareFormHttpMessageConverter" />
   				<bean class="org.springframework.http.converter.xml.Jaxb2RootElementHttpMessageConverter" />
   			</list>
 		</property> 
	</bean>

	<mvc:annotation-driven />

</beans>