<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <context:property-placeholder location="classpath:properitons/conf.properties" />

    <!-- 自动扫描dao和service包(自动注入) -->
<!--
    <context:component-scan base-package="com.zhuzb.dao,com.zhuzb.service" />
-->

    <bean id="dataSource" class="com.zhuzb.util.DynamicRoutingDataSource" init-method="init">
        <property name="targetDataSources">
            <map key-type="java.lang.String">
                <entry key="MASTER" value-ref="dataSource1"/>
                <entry key="SLAVE1" value-ref="dataSource2"/>
            </map>
        </property>
        <property name="defaultTargetDataSource" ref="dataSource1"/>
        <property name="dataSourceMasterSize" value="1"/>
        <property name="dataSourceSlaveSize" value="1"/>
    </bean>

    <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>

        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.hbm2ddl.auto">${hibernate.hbm2ddl.auto}</prop>
                <prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
                <prop key="hibernate.format_sql">${hibernate.format_sql}</prop>
                <prop key="hibernate.dialect">${hibernate.dialect}</prop>
            </props>
        </property>

        <property name="mappingResources">
            <list>
                <value>mapping/student.hbm.xml</value>
                <value>mapping/freemarker.hbm.xml</value>
                <value>mapping/user.hbm.xml</value>
                <value>mapping/role.hbm.xml</value>
                <value>mapping/permission.hbm.xml</value>
            </list>
        </property>
    </bean>

    <bean id="hibernateTemplate" class="org.springframework.orm.hibernate4.HibernateTemplate">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>

    <bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="configLocation" value="classpath:conf/mybatis-config.xml" />
        <property name="dataSource" ref="dataSource" />
        <property name="mapperLocations">
            <array>
                <value>classpath:mybatis/*.xml</value>
            </array>
        </property>
        <property name="typeAliasesPackage" value="com.zhuzb.entity" />
    </bean>

    <bean id="dataAdvice" class="com.zhuzb.util.DataSourceAdvice"></bean>

    <tx:advice id="advice" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="add*" propagation="REQUIRED"/>
            <tx:method name="save*" propagation="REQUIRED"/>
            <tx:method name="update*" propagation="REQUIRED"/>
            <tx:method name="modify*" propagation="REQUIRED"/>
            <tx:method name="edit*" propagation="REQUIRED"/>
            <tx:method name="delete*" propagation="REQUIRED"/>
            <tx:method name="remove*" propagation="REQUIRED"/>
            <tx:method name="repair" propagation="REQUIRED"/>
            <tx:method name="deleteAndRepair" propagation="REQUIRED"/>
        </tx:attributes>
    </tx:advice>

    <aop:config expose-proxy="true">
        <aop:pointcut id="pointCut" expression="execution(* com.zhuzb.service..*Impl.*(..))"/>
        <aop:advisor advice-ref="advice" pointcut-ref="pointCut"/>
    </aop:config>

    <!--启动注解用注解来管理事务-->
    <tx:annotation-driven transaction-manager="transactionManager"/>

<!--    <bean id="studentDao" class="com.zhuzb.dao.impl.StudentDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>-->

<!--    <bean id="studentService" class="com.zhuzb.service.impl.StudentServiceImpl">
        <property name="studentDao" ref="studentDao"/>
    </bean>-->

<!--   <bean id="freeMarkerDao" class="com.zhuzb.dao.impl.FreeMarkerDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="freeMarkerService" class="com.zhuzb.service.impl.FreeMarkerServiceImpl">
            <property name="freeMarkerDao" ref="freeMarkerDao"/>
    </bean>-->

    <context:component-scan base-package="com.zhuzb">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Service" />
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Repository" />
    </context:component-scan>
</beans>